@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/************* Header *****************/
header{
    background: var(--lorem-container);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}
.div__logo {
}
.div__logo img{
    position: relative;  /* lorem */
    width: 128px;
    height: 30px;
    background: var(--lorem-item);
}
/***************** lorem **************/
.div__logo img::after{
    content: "128 x 30";
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* **************************************/
.div__options {
    width: 120px;
    height: 24px;
    background: var(--lorem-item);
    display: flex;
    gap: 24px;
}
.div__options img{
    width: 24px;
    height: 24px;
    position: relative;/* lorem */
    background: var(--lorem-item-box);
}
/***************** lorem **************/
.div__options img::after{
    content: "24 x 24";
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* **************************************/
/************* nav *****************/
.nav__storyTray {
    background: var(--lorem-container);
    width: 100%;
    height: 105.75px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: scroll;
    gap: 12px;
}
.nav__storyTray > .div__storyUser {
    flex: 1;
    background: var(--lorem-item);
    min-width: 72px;
    height: 97.75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div__storyUser-container{
    width: 60.63px;
    height: 60.63px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    border: 3.5px solid transparent;
    background: 
    linear-gradient(var(--lorem-item-box),var(--lorem-item-box)) padding-box,  
    linear-gradient(225deg, #c8c8c8, #e9e9e9, black) border-box;
    background-clip: padding-box, border-box;
}
.div__storyUser-container::before{
    content: " ";
    width: 50.63px;
    height: 50.63px;
    position: absolute;
    border: 2.5px solid #fff;
    border-radius: 100%;
}
.div__storyUser-container img{
    width: 100%;
    height: 100%;
}
/***************** lorem **************/
.div__storyUser-container::after{
    content: "64 x 54";
    font-family: sans-serif;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* **************************************/
/* **************************************/
.div__storyUser span{
    background: var(--lorem-item-box);
    width: 59.64px;
    height: 25.75px;
    padding: 0 6.18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}