@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/************* Header *****************/
header{
    background: var(--lorem-container);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}
.div__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
    height: 30px;
    background: var(--lorem-item);
}
.div__logo img:first-child{
    background: var(--lorem-item-box);
}
.div__logo img:last-child{
    width: 16px;
    height: 16px;
    background: var(--lorem-item-box);
}
.div__options {
    width: 120px;
    height: 24px;
    background: var(--lorem-item);
    display: flex;
    gap: 24px;
}
.div__options img{
    width: 24px;
    height: 24px;
    background: var(--lorem-item-box);
}
/************* nav *****************/
.nav__storyTray {
    background: var(--lorem-container);
    width: 100%;
    height: 105.75px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: scroll;
    gap: 12px;
}
.nav__storyTray > .div__storyUser {
    flex: 1;
    background: var(--lorem-item);
    min-width: 72px;
    height: 97.75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div__storyUser-container{
    width: 100%;
    height: 71.63px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    border: 3.5px solid transparent;
    background: 
    linear-gradient(var(--lorem-item-box),var(--lorem-item-box)) padding-box,  
    var(--color-gradient) border-box;
    background-clip: padding-box, border-box;
}
.div__storyUser-container.states{
    background:none;
    background-clip: none;
    border-radius: 0px;
}
.div__storyUser-container::before{
    content: " ";
    width: 60.63px;
    height: 60.63px;
    position: absolute;
    border: 2.5px solid #fff;
    border-radius: 100%;
}
.states.div__storyUser-container::before{
    border: none;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    background-image: url(../storage/img/button-plus.svg);
}
.div__storyUser-container.states img{
    border-radius: 100%;
}
.div__storyUser-container img{
    width: 100%;
    height: 100%;
}
.div__storyUser span{
    background: var(--lorem-item-box);
    font-family: "sf-ui-display-thin";
    font-weight: 900;
    color: var(--color-1);
    width: 100%;
    height: 25.75px;
    font-size: 11.5px;
    text-align: center;
    padding: 6.18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.div__storyUser-container.states + span{
    font-weight: normal;
    color: var(--color-3);
}
/************* Main *****************/
.section__post{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 390px 212px;
    grid-template-areas: "avatarInfo postOptions"
                         "post post"
                         "postInfo postInfo";
}

.div__avatarInfo{
    grid-area: avatarInfo;
    background: var(--lorem-item);
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 13px;
}
.div__avatarInfo-container{
    width: 37.32px;
    height: 37.32px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    border: 2px solid transparent;
    background: 
    linear-gradient(var(--lorem-item-box),var(--lorem-item-box)) padding-box,  
    var(--color-gradient) border-box;
    background-clip: padding-box, border-box;
}
.div__avatarInfo-container::before{
    content: " ";
    width: 31.32px;
    height: 31.32px;
    position: absolute;
    border: 1.5px solid #fff;
    border-radius: 100%;
}
.div__avatarInfo-container img{
    width: 100%;
    height: 100%;
}
.div__avatarInfo-perfil{

}
.div__avatarInfo-perfil h4{
    color: var(--color-1);
    background: var(--lorem-item-box);
    font-family: "sf-ui-display-bold";
    font-size: 12px;

}
.div__avatarInfo-perfil span{
    color: var(--color-1);
    background: var(--lorem-item-box);
    font-family: "sf-ui-display-thin";
    font-size: 11px;

}
.div__post{
    grid-area: post;
    background: var(--lorem-container);
    position: relative;
}
.div__post::before{
    content: url(../storage/img/tags.svg);
    position: absolute;
    left: 16px;
    bottom: 10px;
    width: 24px;
    height: 24px;
    /* background: var(--lorem-container); */
}
.div__post img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: var(--lorem-item);
}

.div__postOptions{
    grid-area: postOptions;
    background: var(--lorem-container);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 13px;
}
.div__postOptions a {
    width: 24px;
    height: 24px;
    background: var(--lorem-item);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__postInfo{
    grid-area: postInfo;
    background: var(--lorem-container);
    padding: 0 13px;
}

.div__postInfo span{
    display: block;
    padding-top: 10px;
    background: var(--lorem-item);
    font-family: "sf-ui-display-bold";
    color: var( --color-1);
}
.div__postInfo p{
    padding-top: 10px;
    color: var( --color-1);
    background: var(--lorem-item);
    font-family: "sf-ui-display-thin";
    font-weight: 900;
    font-size: 14px;
}
.div__postInfo p + span{
    font-family: "sf-ui-display-thin";
    font-size: 14px;
    color: var( --color-3);
}
.div__postInfo p strong{
    font-family: "sf-ui-display-bold";
}
.div__postInfo form{
    padding-top: 10px;
    background: var(--lorem-item);
}
.div__postInfo form textarea{
    resize: none;
    width: 100%;
    height: 38px;
}
.div__postInfo-icons {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div__leftIcons {
    background: var(--lorem-item);
    display: flex;
    gap: 12px
}
.div__leftIcons a img{
    width: 24px;
    height: 24px;
}
.div__leftIcons a{
}
.div__leftIcons a img{
}
.div__rigthIcons {
    background: var(--lorem-item);
}
.div__rigthIcons a img{
    width: 24px;
    height: 24px;
}

.div__rigthIcons a{
}
.div__rigthIcons a img{
}

/************* Footer *****************/
.footer__navigationBar{
    width: 100%;
    height: 56px;
    background: var(--lorem-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    position: sticky;
    bottom: 0;
    padding: 0 15px;
}
.footer__navigationBar a{

}
.footer__navigationBar a:last-child img{
    border-radius: 100%;
}
.footer__navigationBar a img{
    width: 24px;
    height: 24px;
    position: relative; /* lorem */
}

/***************** lorem **************/
.footer__navigationBar a img::after{
    content: "24 x 24";
    font-family: sans-serif;
    background: var(--lorem-item);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* **************************************/