:root{
    --lorem-item: #f3f4f4;
    --lorem-container: #dadce0;
    --lorem-item-box: #ccdbfe;

    --color-1:#000000;
    --color-2:#FFFFFF;
    --color-3:#6E6E6E;
    --color-4:#DDDDDD;
    --color-5:#FE0135;
    --color-6:#999999;
    --color-7:hsla(0, 0%, 0%, 0.500);
    --color-8:hsla(0, 0%, 0%, 0.100);
    --color-8: #1FA1FF;

    --color-gradient: linear-gradient(225deg, #C913B9, #F9373F, #FECD00);
}
@font-face {
    font-family: "sf-ui-display-black";
    src: url(../storage/font/sf-ui-display-cufonfonts/sf-ui-display-black.otf);
}
@font-face {
    font-family: "sf-ui-display-bold";
    src: url(../storage/font/sf-ui-display-cufonfonts/sf-ui-display-bold.otf);
}
@font-face {
    font-family: "sf-ui-display-heavy";
    src: url(../storage/font/sf-ui-display-cufonfonts/sf-ui-display-heavy.otf);
}
@font-face {
    font-family: "sf-ui-display-light";
    src: url(../storage/font/sf-ui-display-cufonfonts/sf-ui-display-light.otf);
}
@font-face {
    font-family: "sf-ui-display-medium";
    src: url(../storage/font/sf-ui-display-cufonfonts/sf-ui-display-medium.otf);
}
@font-face {
    font-family: "sf-ui-display-semibold";
    src: url(../storage/font/sf-ui-display-cufonfonts/sf-ui-display-semibold.otf);
}
@font-face {
    font-family: "sf-ui-display-thin";
    src: url(../storage/font/sf-ui-display-cufonfonts/sf-ui-display-thin.otf);
}
@font-face {
    font-family: "sf-ui-display-ultralight";
    src: url(../storage/font/sf-ui-display-cufonfonts/sf-ui-display-ultralight.otf);
}